/* @shadowColor: rgba(228, 211, 191, 1); */
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?ypk82v');
  src: url('../fonts/icomoon/icomoon.eot?ypk82v#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?ypk82v') format('truetype'), url('../fonts/icomoon/icomoon.woff?ypk82v') format('woff'), url('../fonts/icomoon/icomoon.svg?ypk82v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pinterest-with-circle:before {
  content: "\e905";
}
.icon-paper-plane2:before {
  content: "\e902";
}
.icon-facebook-with-circle:before {
  content: "\e903";
}
.icon-google + -with-circle:before {
  content: "\e904";
}
.icon-twitter-with-circle:before {
  content: "\e900";
}
.no-padding {
  padding: 0;
}
.container--full {
  min-width: 100%;
  margin: 0;
}
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
input[type=search] {
  background: url('../img/icons/search.png') no-repeat 7px center;
  background-repeat: no-repeat;
  border: solid 2px transparent;
  padding: 9px 10px 9px 32px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s, background-color 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s, background-color 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s, 0s, 0.4s, 1s;
  transition-delay: 0.4s, 0s, 0.4s, 1s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border: solid 2px #000;
  -webkit-box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}
input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}
#search-form input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#search-form input[type=search]:hover {
  background-color: #fff;
  border: 2px solid #000;
}
#search-form input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#search-form input:-moz-placeholder {
  color: transparent;
}
#search-form input::-webkit-input-placeholder {
  color: transparent;
}
.navigation {
  display: inline-block;
  position: fixed;
  background-color: #FFF;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 37px;
    margin-left: 49px;
    margin-right: 83px;
    background: none;
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .navigation {
    margin-left: 98px;
    margin-right: 167px;
  }
}
.nav-bar__logo {
  height: 22px;
  width: 185px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wrapper {
  display: flex;
}
ul {
  font-size: 0;
}
ul li {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
}
ul li a {
  text-align: center;
  display: inline-block;
  padding: 10px;
  color: #8C8C8C;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
ul li a:hover,
ul li a:active {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  border-bottom: 3px solid #000;
}
ul li a:after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
a.mPS2id-clicked {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  border-bottom: 3px solid #000;
}
a.mPS2id-clicked:after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.navigation__toggle-button {
  position: relative;
  display: inline-block;
  width: 100%;
  float: left;
  cursor: pointer;
}
@media (min-width: 992px) {
  .navigation__toggle-button {
    display: none;
  }
}
.nav__list-item {
  display: block;
}
.nav__list-item a {
  width: 100%;
  border: none;
}
.nav__list-item a:hover {
  border: none;
  font-weight: 700;
  font-size: 14px;
  background-color: #000;
  color: #FFF;
}
@media (min-width: 768px) {
  .nav__list-item {
    display: inline-block;
  }
}
#nav_mobile-list {
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style-type: none;
  display: none;
}
@media (min-width: 992px) {
  #nav_mobile-list {
    display: flex!important;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: transparent;
  }
}
.sticky-menu {
  z-index: 20;
  padding: 10px;
  margin: 0;
  background-color: #FFF;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}
.button {
  display: inline-block !important;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  padding: 16px 30px;
  background-color: #FFF;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.button .fa {
  font-size: 18px;
  font-weight: 700;
  padding-left: 22px;
}
.button:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #000;
}
.button--short {
  position: relative;
  display: none;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
}
.button--short .fa {
  padding: 0;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  top: 19%;
  right: 50%;
  -webkit-transform: translate(60%, 0);
  -moz-transform: translate(60%, 0);
  -ms-transform: translate(60%, 0);
  -o-transform: translate(60%, 0);
  transform: translate(60%, 0);
}
.button--short:hover {
  font-size: 28px;
  font-weight: 700;
}
.button--link {
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  text-decoration: none;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.button--link .fa {
  padding: 0;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 700;
}
.button--link:hover {
  color: #000;
  background-color: #FFF;
  padding-right: 20px;
}
.product-card {
  position: relative;
  margin-bottom: 30px;
}
.product-card img {
  width: 100%;
}
.product-card:hover .hover {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #a1a1a2;
}
.hover {
  display: none;
  top: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-left: 33px;
  padding-right: 33px;
  cursor: pointer;
}
.hover__name {
  color: #212121;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
}
.hover__details {
  color: #6C6C6C;
  margin-top: 20px;
  font-size: 14px;
}
section {
  margin-top: 115px;
}
.filter-block {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #CECECE;
}
@media (min-width: 768px) {
  .filter-block {
    padding-top: 8px;
    margin-bottom: 50px;
  }
}
.filter-block .filter-block__block {
  font-size: 36px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid ;
  color: #6C6C6C;
  list-style-type: none;
}
.filter-block .filter-block__element {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  display: block;
}
.filter-block .filter-block__element:last-child {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .filter-block .filter-block__element {
    margin-bottom: 0;
    margin-right: 0px;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .filter-block .filter-block__element:last-child {
    margin-right: 0;
  }
}
.filter-block .filter-block__button {
  -webkit-transition: border-color 1000ms ease-in-out;
  -moz-transition: border-color 1000ms ease-in-out;
  transition: border-color 1000ms ease-in-out;
  display: inline-block;
  padding: 0px 23px 20px 10px;
  cursor: pointer;
  color: #6C6C6C;
}
.filter-block .filter-block__button:hover {
  padding: 0px 23px 17px 10px;
  border-bottom: 3px solid ;
  color: #000;
}
@media (min-width: 768px) {
}
.filter-block .filter-block__button.active {
  padding: 0px 23px 17px 10px;
  border-bottom: 3px solid ;
  color: #000;
}
#featured-products {
  text-align: center;
}
@media (min-width: 768px) {
  #featured-products {
    text-align: left;
  }
}
#featured-products .mix {
  display: none;
  text-align: left;
}
.filter-block__more {
  text-transform: uppercase;
  text-decoration: none;
}
.heading-tag {
  color: #6C6C6C;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.heading-tag--green {
  color: #43a047;
}
.heading-tag--red {
  color: #E53935;
}
.heading-tag--blue {
  color: #1E88E5;
}
.section__header {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.product-item {
  position: relative;
  margin-bottom: 30px;
}
.content {
  position: absolute;
  top: 50%;
  left: 30px;
  max-width: 350px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.content__name {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
}
.content__name--big {
  margin-bottom: 18px;
  font-size: 62px;
  font-weight: 100;
  text-transform: uppercase;
}
.content__details {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 35px;
  color: #6C6C6C;
}
.content__details--big {
  font-size: 22px;
}
.slider {
  position: relative;
  min-width: 100%;
}
.slider-content {
  text-align: left;
  position: absolute;
  top: 46%;
  left: 112px;
  z-index: 10;
  width: 490px;
}
.slider-content__tag {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #43a047;
}
.slider-content__name {
  color: #000;
  margin-bottom: 18px;
  font-size: 62px;
  font-weight: 100;
  text-transform: uppercase;
}
.slider-content__details {
  color: #000;
  margin-bottom: 35px;
}
.owl-carousel .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-nav [class*='owl-'] {
  display: inline-block;
  margin: 5px;
  padding: 4px 7px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  color: #FFF;
  background: #D6D6D6;
}
.owl-carousel .owl-nav [class*='owl-']:hover {
  color: #FFF;
  text-decoration: none;
}
.owl-carousel .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-carousel .owl-nav.disabled + .owl-dots {
  outline: transparent;
}
.owl-carousel .owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-carousel .owl-dots .owl-dot:last-child span {
  margin: 0;
}
.owl-carousel p.text-visible {
  padding-top: 25px;
}
.owl-carousel .owl-dots .owl-dot span {
  width: 30px;
  height: 30px;
  margin-right: 18px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-carousel button.owl-dot {
  outline: transparent;
}
.owl-carousel button.owl-dot.active span {
  background-color: #000;
  width: 40px;
  height: 40px;
}
.owl-carousel.owl-loaded {
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #FFF;
}
.owl-stage-outer {
  text-align: center;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.owl-prev {
  left: -15px;
}
.owl-next {
  right: -15px;
}
.owl-carousel .owl-nav button.owl-next:active,
.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:active,
.owl-carousel .owl-nav button.owl-prev:focus {
  outline: transparent;
}
.owl-carousel .owl-item div {
  display: block;
}
.promo {
  position: relative;
  min-width: 100%;
}
.promo img {
  min-width: 100%;
}
.promo-content {
  text-align: left;
  position: absolute;
  top: 46%;
  left: 112px;
  z-index: 10;
  max-width: 490px;
}
.promo-content__name {
  color: #000;
  margin-bottom: 18px;
  font-size: 36px;
  font-weight: 700;
}
.promo-content__details {
  font-size: 14px;
  line-height: 24px;
  color: #000;
  margin-bottom: 35px;
}
.app {
  min-width: 100%;
  height: 516px;
  background-image: url('../img/back-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 125px;
  padding-left: 100px;
}
.app img {
  margin-right: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: box-shadow 0.4s ease-in;
  -moz-transition: box-shadow 0.4s ease-in;
  -ms-transition: box-shadow 0.4s ease-in;
  -o-transition: box-shadow 0.4s ease-in;
  transition: box-shadow 0.4s ease-in;
}
.app img:hover {
  cursor: pointer;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}
.app-content {
  max-width: 600px;
}
footer {
  padding-top: 120px;
  padding-bottom: 39px;
  background-color: #F7F7F7;
  font-weight: 300;
}
footer ul.list {
  color: #212121;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-transform: none;
}
footer .list-item {
  text-align: left;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 22px;
}
footer .list-item a {
  padding: 0;
  font-size: 14px;
  color: #212121;
  text-transform: none;
}
footer .list-item p {
  margin: 0;
}
.information .list-item {
  margin-bottom: 0;
}
.information .list-item a {
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}
.footer__heading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #6c6c6c;
  letter-spacing: 5.5;
  line-height: 24px;
  text-transform: uppercase;
}
.copyright,
.privacy,
.social {
  display: flex;
  -webkit-align-items: middle;
  align-items: middle;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6C6C6C;
}
.social {
  font-size: 28px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.icon {
  margin-right: 7px;
  -webkit-transition: color 0.4s ease-in;
  -moz-transition: color 0.4s ease-in;
  -ms-transition: color 0.4s ease-in;
  -o-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}
.icon:hover {
  color: #000;
  cursor: pointer;
}
.icon:last-child {
  margin: 0;
}
.center {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.subscribe {
  font-size: 14px;
}
#send {
  font-size: 14px;
  outline: none;
  border: 1px solid #d9dee1;
  color: #6C6C6C;
  padding: 18px;
  width: 100%;
}
.form-wrapper {
  position: relative;
}
.send-button {
  padding: 15px;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  color: #6C6C6C;
  -webkit-transition: color 0.4s ease-in;
  -moz-transition: color 0.4s ease-in;
  -ms-transition: color 0.4s ease-in;
  -o-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}
.send-button:hover {
  color: #212121;
}
body {
  font-family: 'Montserrat', sans-serif;
}
