//- Footer
footer#contact
	.container
		.row
			.col-md-3
				.contacts
					.footer__heading contact us
					ul.list
						li.list-item 
							p 132A Bridge Road Richmond VIC Australia.
						li.list-item Talk to us on 1300 132
							a(href="mailto:info@interior.com" target="_blank") info@interior.com
			.col-md-5
				.information
					.footer__heading useful information
					.row
						.col-md-5
							ul.list
								li.list-item 
									a(href="#") Sales terms
								li.list-item
									a(href="#") Customer care
								li.list-item
									a(href="#") Delivery
						.col-md-6
							ul.list
								li.list-item
									a(href="#") Architect accounts
								li.list-item
									a(href="#") Careers
								li.list-item
									a(href="#") Exchanges & returns
			.col-md-4
				.subscribe
					.footer__heading let's stay in touch!
					p Suscribe to know about our latest news, products and special offers just for suscribers.
					.form-wrapper
						input(placeholder="your e-mail address")#send
						.icon-paper-plane.send-button
		.row.center
			.col-md-4
				.copyright © Copyright - INTERIOR 2016. All Rights Reserved.
			.col-md-4
				.social
					.icon-facebook-circled.icon
					.icon-twitter-circled.icon
					.icon-gplus-circled.icon
					.icon-pinterest-circled.icon
			.col-md-4
				.privacy Terms & Conditions  /  Privacy policy & Cookies
