//- NAVIGATION BAR
.nav-bar#nav-bar
	.nav-bar__logo
	.wrapper
		nav.navigation
			ul#nav_mobile-list
				li.nav__list-item
					a(href="#home" title="home") Home
				li.nav__list-item
					a(href="#products" title="products") Products
				li.nav__list-item
					a(href="#history" title="history") History
				li.nav__list-item
					a(href="#showroom" title="showroom") Showroom
				li.nav__list-item
					a(href="#contact" title="contact") Contact
		form#search-form
			input(type="search" placeholder="Search")