//- NAVIGATION BAR
nav.navigation
	.navigation__toggle-button
	.logo-wrapper#navigation-toggle
		.logo.clearfix
			.logo__icon
				.top-left.rect
				.top-right.rect
				.bottom-left.rect
				.bottom-right.rect
		.logo__text interior
	ul#nav_mobile-list
		li.nav__list-item
			a(href="#home" title="home") Home
		li.nav__list-item
			a(href="#products" title="products") Products
		li.nav__list-item
			a(href="#history" title="history") History
		li.nav__list-item
			a(href="#showroom" title="showroom") Showroom
		li.nav__list-item
			a(href="#contact" title="contact") Contact
	form#search-form
		input(type="search" placeholder="Search")







//- //- NAVIGATION BAR
//- nav.navigation
//- 	.navigation__toggle-button#navigation-toggle
//- 		.nav-bar__logo
//- 		form#search-form
//- 		input(type="search" placeholder="Search")
//- 	ul#nav_mobile-list
//- 		li.nav__list-item
//- 			a(href="#home" title="home") Home
//- 		li.nav__list-item
//- 			a(href="#products" title="products") Products
//- 		li.nav__list-item
//- 			a(href="#history" title="history") History
//- 		li.nav__list-item
//- 			a(href="#showroom" title="showroom") Showroom
//- 		li.nav__list-item
//- 			a(href="#contact" title="contact") Contact