//- NAVIGATION BAR
nav.navigation
	.navigation__toggle-button#navigation-toggle.clearfix
		.nav-bar__logo
		form#search-form
			input(type="search" placeholder="Search")
	ul#nav_mobile-list
		li.nav__list-item
			a(href="#home" title="home") Home
		li.nav__list-item
			a(href="#products" title="products") Products
		li.nav__list-item
			a(href="#history" title="history") History
		li.nav__list-item
			a(href="#showroom" title="showroom") Showroom
		li.nav__list-item
			a(href="#contact" title="contact") Contact