<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title furniture
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	link(rel="stylesheet", href="libs/normalize/normalize.css")
	link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid.min.css")
	//- Owl-Carousel
	link(rel="stylesheet" href="libs/owlcarousel2/owl.carousel.min.css")
	link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.css")
	link(rel="stylesheet", href="css/main.css")
	link(href="https://fonts.googleapis.com/css?family=Montserrat:100,300,700&amp;subset=cyrillic" rel="stylesheet")
body
	.slider
		.owl-carousel#top-slider
			.row
				.col-md-12.item
					img(src='img/slider-img.jpg', alt='program1')
					.d-none.d-md-block
						.slider-content
							.slider-content__tag trending
							.slider-content__name fishnet chair
							.slider-content__details Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
							.button(href="#") order us
								i.fa.fa-angle-right
			.row
				.col-md-12.item
					img(src='img/slider-img.jpg', alt='program1')
					.d-none.d-md-block
						.slider-content
							.slider-content__tag trending
							.slider-content__name fishnet chair
							.slider-content__details Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
							.button(href="#") order us
								i.fa.fa-angle-right
			.row
				.col-md-12.item
					img(src='img/slider-img.jpg', alt='program1')
					.d-none.d-md-block
						.slider-content
							.slider-content__tag trending
							.slider-content__name fishnet chair
							.slider-content__details Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
							.button(href="#") order us
								i.fa.fa-angle-right

		.nav-bar
			.nav-bar__logo
			nav.navigation
				ul#nav_mobile-list
					li.nav__list-item
						a(href="#" title="home") Home
					li.nav__list-item
						a(href="#" title="products") Products
					li.nav__list-item
						a(href="#" title="history") History
					li.nav__list-item
						a(href="#" title="showroom") Showroom
					li.nav__list-item
						a(href="#" title="contact") Contact


	script(src="libs/jquery-3.3.1.min.js")
	script(src="libs/owlcarousel2/owl.carousel.min.js")
	script(src="libs/pagescroll2id/jquery.malihu.PageScroll2id.js")
	//- My script
	script(src="js/main.js")
