.featured-product__item {
  position: relative;
  margin-bottom: 30px;
}
.featured-product__item img {
  width: 100%;
}
.featured-product__item:hover .hover {
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFF;
  border: 1px solid #a1a1a2;
}
.hover {
  display: none;
  position: absolute;
  -webkit-transition: display 0.5s ease-in-out;
  -moz-transition: display 0.5s ease-in-out;
  -ms-transition: display 0.5s ease-in-out;
  -o-transition: display 0.5s ease-in-out;
  transition: display 0.5s ease-in-out;
}
.hover-content {
  text-align: center;
  padding-top: 60px;
  padding-left: 33px;
  padding-right: 33px;
}
.hover-content__name {
  color: #212121;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
}
.hover-content__details {
  color: #6C6C6C;
  margin-top: 20px;
  font-size: 14px;
}
