.heading-tag {
  color: #6C6C6C;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.heading-tag--green {
  color: #43a047;
}
.heading-tag--red {
  color: #E53935;
}
.heading-tag--blue {
  color: #1E88E5;
}
.section__header {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}
