.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 37px;
  margin-left: 98px;
  margin-right: 167px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-bar__logo {
  height: 22px;
  width: 185px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav.navigation {
  position: relative;
}
.wrapper {
  display: flex;
}
ul {
  font-size: 0;
}
ul li {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
}
ul li a {
  text-align: center;
  display: inline-block;
  padding: 10px;
  color: #8C8C8C;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
ul li a:hover,
ul li a:active {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  border-bottom: 3px solid #000;
}
ul li a:after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
a.mPS2id-clicked {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  border-bottom: 3px solid #000;
}
a.mPS2id-clicked:after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.sticky-menu {
  z-index: 20;
  padding: 10px;
  margin: 0;
  background-color: #FFF;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}
