.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #000;
  text-transform: uppercase;
  z-index: 2;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .navigation {
    margin-top: 37px;
    margin-left: 98px;
    margin-right: 167px;
  }
}
#nav_mobile-list {
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}
@media (min-width: 768px) {
  #nav_mobile-list {
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
  }
}
.nav__list-item {
  text-align: center;
  list-style-type: none;
}
@media (min-width: 768px) {
  .nav__list-item {
    display: inline-block;
  }
}
.nav__list-item a {
  font-size: 14px;
  color: #000;
  display: block;
  list-style-type: none;
  text-decoration: none;
  padding: 20px;
}
.nav__list-item a:hover {
  background-color: #000;
  color: #FFF;
}
@media (min-width: 768px) {
  .nav__list-item a:hover {
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: #000;
    border-bottom: 3px solid #000;
  }
}
@media (min-width: 768px) {
  .nav__list-item a {
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: #8C8C8C;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
  }
  .nav__list-item a:after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
.navigation__toggle-button {
  background-image: none;
  height: 50px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  background-position: 5%;
}
@media (min-width: 768px) {
  .navigation__toggle-button {
    position: relative;
    background-repeat: no-repeat;
    background: url('../img/logo.png');
    position: static;
    display: none;
  }
}
#search-form {
  position: absolute;
  top: 5px;
  right: 0;
}
@media (min-width: 768px) {
  #search-form {
    position: relative;
    top: 0px;
  }
}
.logo-wrapper {
  position: absolute;
  top: 9px;
  left: 15px;
  background-image: none;
  flex-grow: 1;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  width: 195px;
  height: 33px;
  font-size: 23px;
  letter-spacing: 5.5px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 768px) {
  .logo-wrapper {
    position: static;
  }
}
.logo {
  position: relative;
  display: block;
  max-width: 185px;
  margin-right: 10px;
}
.logo .logo__icon {
  position: relative;
  width: 22px;
  height: 22px;
  background-color: transparent;
  transition: all 0.4s ease-in;
}
.logo .logo__icon:hover {
  width: 33px;
  height: 33px;
  margin-right: -11px;
}
.logo .logo__icon .rect {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;
}
.logo .logo__icon .top-left {
  top: 0;
  left: 0;
}
.logo .logo__icon .top-right {
  top: 0;
  right: 0;
}
.logo .logo__icon .bottom-left {
  bottom: 0;
  left: 0;
}
.logo .logo__icon .bottom-right {
  bottom: 0;
  right: 0;
}
.logo .logo__text {
  display: inline-block;
  padding-left: 10px;
  align-self: flex-end;
}
.logo .rotate {
  transform: rotate(45deg);
}
